Regression 


Only One hot encoding 


PCA


RandomizedSearchCv (=GridSearchCV)

In [161]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
#from sklearn.linear_model import LinearRegression, SGDRegressor !!!

from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score
import numpy as np

from sklearn.datasets import make_regression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.feature_selection import VarianceThreshold, SelectKBest, f_regression, RFECV, SelectFromModel

from sklearn.model_selection import GridSearchCV
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.decomposition import PCA

In [337]:
url = "https://drive.google.com/file/d/1idsy5wqE1fhiRY7dAiKgq-eKyTzoeW01/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
data = df = pd.read_csv(path)
data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [3]:
#data.drop(columns=['Id'])   #this column has nothing important

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [338]:
#Create X and y labels 
X = data                 #drop if need a few columns are't usefull
y = X.pop("SalePrice")

In [339]:
#Split data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [165]:
#Preprocessing
X_cat = X.select_dtypes(exclude="number").copy()  #.columns.copy()
X_num = X.select_dtypes(include="number").copy()   #.columns.copy()


numeric_pipe = make_pipeline(
    SimpleImputer(strategy="mean"),
    MinMaxScaler())

categoric_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="N_A"),
    OneHotEncoder(handle_unknown='ignore', sparse_output=False)
)



full_preprocessing = ColumnTransformer(
    transformers=[
        ("num_pipe", numeric_pipe, X_num.columns),
        ("cat_pipe", categoric_pipe, X_cat.columns)
    ]
)

In [166]:
from sklearn.model_selection import GridSearchCV
big_pipeline = make_pipeline(preprocessor,
                             PCA(),
                              DecisionTreeRegressor())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean", "median"],
    "decisiontreeregressor__max_depth": range(2, 14, 2),
}
  
search_dt = GridSearchCV(big_pipeline,
                      param_grid,
                      cv=5,
                      verbose=1)

search_dt.fit(X_train, y_train)  

scores = {"dtree" : search_dt.best_score_}
scores

Fitting 5 folds for each of 12 candidates, totalling 60 fits

{'dtree': 0.5384403245372764}

In [168]:
search_dt.best_params_

{'columntransformer__num_pipe__simpleimputer__strategy': 'mean',
 'decisiontreeregressor__max_depth': 2}

In [216]:
dt_1 = search_dt.predict(X_test)

In [217]:
dt_1_r2 = r2_score(y_true = y_test,
                  y_pred = dt_1)

In [218]:
comparing_models_df.loc['dt_1_r2']=dt_1_r2

comparing_models_df

                R2
pca_r2    0.640000
pca_2_r2  0.753030
dt_1_r2   0.569284

In [ ]:
REGRESSORS (exact price)!!!

In [220]:
from sklearn.model_selection import GridSearchCV

dt_pipeline = make_pipeline(full_preprocessing,
                            PCA(),
                            DecisionTreeRegressor())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean"],#, "median"],
    "pca__n_components": list(range(10, 40, 5)),#10, 310, 20)),
    "decisiontreeregressor__max_depth": range(8, 10, 2),
    "decisiontreeregressor__min_samples_leaf": range(3, 11, 2)
}

search_dtr_2 = GridSearchCV(dt_pipeline,
                      param_grid,
                      cv=5,
                      verbose=1)

search_dtr_2.fit(X_train, y_train)

scores = {"DecisionTreeRegressor" : search_dtr_2.best_score_}
scores

Fitting 5 folds for each of 24 candidates, totalling 120 fits

{'DecisionTreeRegressor': 0.6037161975044626}

In [222]:
dt_2 = search_dtr_2.predict(X_test)

In [223]:
dt_2_r2 = r2_score(y_true = y_test,
                  y_pred = dt_2)

In [224]:
comparing_models_df.loc['dt_2_r2']=pca_2_r2

comparing_models_df

                R2
pca_r2    0.640000
pca_2_r2  0.753030
dt_1_r2   0.569284
dt_2_r2   0.753030

In [179]:
from sklearn.model_selection import GridSearchCV

dt_pipeline = make_pipeline(full_preprocessing,
                            PCA(),
                            KNeighborsRegressor())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean"],#, "median"],
    "pca__n_components": list(range(10, 80, 5)),#10, 310, 20)),
    'kneighborsregressor__n_neighbors':[9,15,2],
    'kneighborsregressor__weights': ["uniform", "distance"],
    'kneighborsregressor__algorithm' : ["auto", "ball_tree", "kd_tree"]
}

search_dtr = GridSearchCV(dt_pipeline,
                      param_grid,
                      cv=5,
                      verbose=1)

search_dtr.fit(X_train, y_train)

scores = {"KNeighborsRegressor" : search_dtr.best_score_}
scores

Fitting 5 folds for each of 252 candidates, totalling 1260 fits

{'KNeighborsRegressor': 0.7305369076976405}

In [180]:
search_dtr.best_params_

{'columntransformer__num_pipe__simpleimputer__strategy': 'mean',
 'kneighborsregressor__algorithm': 'ball_tree',
 'kneighborsregressor__n_neighbors': 9,
 'kneighborsregressor__weights': 'distance',
 'pca__n_components': 65}

In [181]:
model_pipeline = make_pipeline(full_preprocessing,
                               StandardScaler(),
                               PCA(n_components=65),
                               KNeighborsClassifier(algorithm='ball_tree',
                                                    weights='distance',
                                                    p=2,
                                                    n_neighbors=9))

model_pipeline.fit(X_train, y_train)


best_score_retrain_pca = model_pipeline.score(X_train, y_train)

print(f"{round(best_score_retrain_pca * 100, 2)}% accuracy")

100.0% accuracy

In [185]:
pca_pred = model_pipeline.predict(X_test)

In [186]:
pca_r2 = r2_score(y_true = y_test,
                  y_pred = pca_pred)

In [188]:
comparing_models_df = pd.DataFrame({"R2": [pca_r2]}, #, dt_r2, sgd_r2, lr_r2]},
                                    index=["pca_r2"])  #, "decision_tree", "sgd", "linear_regression"])

comparing_models_df

          R2
pca_r2  0.64

In [211]:
start_time = time.time()

model_pipeline1 = make_pipeline(full_preprocessing,
                               StandardScaler(),
                               PCA(n_components=40),
                               KNeighborsClassifier(algorithm='ball_tree',
                                                    weights='distance',
                                                    p=2,
                                                    n_neighbors=4))

model_pipeline1.fit(X_train, y_train)

end_time = time.time()

time_taken_retrain_pca = end_time - start_time
best_score_retrain_pca = model_pipeline1.score(X_train, y_train)

print("--- %s seconds ---" % (time_taken_retrain_pca))
print(f"{round(best_score_retrain_pca * 100, 2)}% accuracy")

--- 0.10057497024536133 seconds ---
99.91% accuracy

In [213]:
pca_2_r2 = r2_score(y_true = y_test,
                    y_pred = pca_2)

In [214]:
comparing_models_df.loc['pca_2_r2']=pca_2_r2
comparing_models_df

               R2
pca_r2    0.64000
pca_2_r2  0.75303

In [259]:
pca_2 = pd.DataFrame((model_pipeline1.predict(test_data)), columns = ['SalePrice'])
pca_2

      SalePrice
0        112500
1        151500
2        193000
3        193000
4        180000
...         ...
1454      97000
1455      83500
1456     149900
1457     112000
1458     188000

[1459 rows x 1 columns]

In [264]:
ggg = pd.concat([y, pca_2], axis = 1)
ggg

        Id  SalePrice
0     1461     112500
1     1462     151500
2     1463     193000
3     1464     193000
4     1465     180000
...    ...        ...
1454  2915      97000
1455  2916      83500
1456  2917     149900
1457  2918     112000
1458  2919     188000

[1459 rows x 2 columns]

In [265]:
#pca_2_test = pd.DataFrame(model_pipeline1.predict(test_data))
ggg.to_csv('PCA_regression_gg.csv', index=False)

In [50]:
search_knn.best_params_

{'columntransformer__num_pipe__simpleimputer__strategy': 'median',
 'kneighborsregressor__n_neighbors': 9,
 'pca__n_components': 11}

In [242]:
#ggg.rename(columns = {0:'SalePrice'}, inplace=True)
#ggg.head()

     Id  SalePrice
0  1461     112500
1  1462     151500
2  1463     193000
3  1464     193000
4  1465     180000

# K-BEST

 + Manually all features samples

1. Transform all features to numerical

In [ ]:
#Preprocessing
X_cat = X.select_dtypes(exclude="number").copy()  #.columns.copy()
X_num = X.select_dtypes(include="number").copy()   #.columns.copy()


numeric_pipe = make_pipeline(
    SimpleImputer(strategy="mean"),
    MinMaxScaler())

categoric_pipe = make_pipeline(
    SimpleImputer(strategy="constant", fill_value="N_A"),
    OneHotEncoder(handle_unknown='ignore', sparse_output=False)
)



full_preprocessing = ColumnTransformer(
    transformers=[
        ("num_pipe", numeric_pipe, X_num.columns),
        ("cat_pipe", categoric_pipe, X_cat.columns)
    ]
)

In [301]:
X_num = X_train.select_dtypes(include="number").copy() 
num_imputer = SimpleImputer(strategy="mean").set_output(transform='pandas')

# Fitting and transforming
X_num_imputed = num_imputer.fit_transform(X_num)

X_num_imputed.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
318,319.0,60.0,90.00000,9900.0,7.0,5.0,1993.0,1993.0,256.0,987.0,...,656.0,340.0,60.0,144.0,0.0,0.0,0.0,0.0,4.0,2009.0
580,581.0,20.0,69.58427,14585.0,6.0,6.0,1960.0,1987.0,85.0,594.0,...,572.0,216.0,110.0,0.0,0.0,0.0,0.0,0.0,6.0,2007.0
961,962.0,60.0,69.58427,12227.0,6.0,7.0,1977.0,1995.0,424.0,896.0,...,619.0,550.0,282.0,0.0,0.0,0.0,0.0,0.0,7.0,2008.0
78,79.0,90.0,72.00000,10778.0,4.0,5.0,1968.0,1968.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2010.0
5,6.0,50.0,85.00000,14115.0,5.0,5.0,1993.0,1995.0,0.0,732.0,...,480.0,40.0,30.0,0.0,320.0,0.0,0.0,700.0,10.0,2009.0

In [302]:
X_cat = X_train.select_dtypes(exclude="number").copy()

In [303]:
cat_imputer = SimpleImputer(strategy="constant",
                            fill_value="N_A").set_output(transform='pandas')

# fitting and transforming
X_cat_imputed = cat_imputer.fit_transform(X_cat)

X_cat_imputed.head()

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
318,RL,Pave,N_A,Reg,Low,AllPub,Inside,Mod,NoRidge,Norm,...,Attchd,RFn,TA,TA,Y,N_A,N_A,N_A,WD,Normal
580,RL,Pave,N_A,IR1,Lvl,AllPub,CulDSac,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,N_A,N_A,N_A,WD,Normal
961,RL,Pave,N_A,IR1,Lvl,AllPub,Corner,Gtl,NWAmes,PosN,...,Attchd,Fin,TA,TA,Y,N_A,N_A,N_A,WD,Normal
78,RL,Pave,N_A,Reg,Lvl,AllPub,Inside,Gtl,Sawyer,Norm,...,N_A,N_A,N_A,N_A,Y,N_A,N_A,N_A,WD,Normal
5,RL,Pave,N_A,IR1,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,Attchd,Unf,TA,TA,Y,N_A,MnPrv,Shed,WD,Normal

In [304]:
# initialize
my_onehot = OneHotEncoder(drop="first",sparse_output=False).set_output(transform='pandas')
# fit
my_onehot.fit(X_cat_imputed)

# transform
X_cat_imputed_onehot = my_onehot.transform(X_cat_imputed)

In [305]:
# Concatenating all columns
X_train_imputed = pd.concat([X_cat_imputed_onehot, X_num_imputed], axis=1)

X_train_imputed.head()

,MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Pave,Alley_N_A,Alley_Pave,LotShape_IR2,LotShape_IR3,LotShape_Reg,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
318,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,656.0,340.0,60.0,144.0,0.0,0.0,0.0,0.0,4.0,2009.0
580,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,572.0,216.0,110.0,0.0,0.0,0.0,0.0,0.0,6.0,2007.0
961,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,619.0,550.0,282.0,0.0,0.0,0.0,0.0,0.0,7.0,2008.0
78,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2010.0
5,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,...,480.0,40.0,30.0,0.0,320.0,0.0,0.0,700.0,10.0,2009.0

2. The choice the best relevant and important feaures to predict House Prices

In [316]:
# Run the univariate (= one feature at a time) linear regression tests.
f_stat, _ = f_regression(X_train_imputed, y_train)

# Create a DataFrame with the f-statistics and p-values.
f_test = pd.DataFrame({"f_stat":f_stat},
                      index=X_train_imputed.columns)

# Sort the values in the f-statistic column.
f_test.sort_values("f_stat", ascending=False).head(20)

                       f_stat
OverallQual       1922.824164
GrLivArea         1077.898355
GarageCars         806.217393
GarageArea         743.613977
1stFlrSF           728.031523
TotalBsmtSF        725.522222
ExterQual_TA       588.668532
FullBath           517.735845
YearBuilt          442.386474
TotRmsAbvGrd       432.253139
KitchenQual_TA     422.297115
Foundation_PConc   394.638394
YearRemodAdd       385.059746
MasVnrArea         332.089778
FireplaceQu_N_A    329.875175
Fireplaces         321.951942
GarageYrBlt        320.550920
BsmtQual_TA        300.547903
BsmtFinType1_GLQ   278.269837
ExterQual_Gd       266.917325

In [ ]:
OverallQual
GrLivArea
GarageCars
1stFlrSF
TotalBsmtSF
ExterQual_TA
FullBath
YearBuilt
TotRmsAbvGrd
KitchenQual_TA
Foundation_PConc
FireplaceQu_N_A
GarageYrBlt
BsmtQual_TA
ExterQual_Gd

In [309]:
KBest = SelectKBest(score_func=f_regression, k=10)

In [297]:
X_train_imputed.shape

(1460, 262)

In [296]:
y_train.shape

(1168,)

In [298]:
X_train.shape

(1168, 80)

In [299]:
X_num.shape

(1460, 37)

In [300]:
X_cat.shape

(1460, 43)

3. PERFORM KNN FEATURES TO THE MODEL

In [ ]:
OverallQual -
GrLivArea
GarageCars
1stFlrSF -
TotalBsmtSF - num
ExterQual_TA - ???
FullBath -
YearBuilt - num
TotRmsAbvGrd -
KitchenQual_TA -
Foundation_PConc -
FireplaceQu_N_A -
GarageYrBlt -
BsmtQual_TA - 
ExterQual_Gd -

In [343]:
X.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [362]:
X.BsmtFinType1.unique()

array(['GLQ', 'ALQ', 'Unf', 'Rec', 'BLQ', nan, 'LwQ'], dtype=object)

In [369]:
X_kbest = X[['OverallQual', 'GrLivArea', 'GarageCars', '1stFlrSF', 'TotalBsmtSF', 'FullBath', 'YearBuilt', 'TotRmsAbvGrd', 'ExterQual', 'KitchenQual', 'BsmtQual','Foundation', 'BsmtFinType1']].copy()

In [370]:
#Preprocessing

X_kbest = X[['OverallQual', 'GrLivArea', 'GarageCars', '1stFlrSF', 'TotalBsmtSF', 'FullBath', 'YearBuilt', 'TotRmsAbvGrd', 'ExterQual', 'KitchenQual', 'BsmtQual','Foundation', 'BsmtFinType1']].copy()
X_num = X_kbest[['OverallQual', 'GrLivArea', 'GarageCars', '1stFlrSF', 'TotalBsmtSF', 'FullBath', 'YearBuilt', 'TotRmsAbvGrd']]#X.select_dtypes(include="number").copy()   #.columns.copy()
X_cat = X_kbest[['ExterQual', 'KitchenQual', 'BsmtQual', 'Foundation', 'BsmtFinType1']]       #X.select_dtypes(exclude="number").copy()  #.columns.copy()


numeric_pipe = make_pipeline(SimpleImputer(strategy="mean"), MinMaxScaler())
          
num_pipe= numeric_pipe.fit_transform(X_num)


ordinal_cols = X_cat.columns.get_indexer(['ExterQual', 'KitchenQual', 'BsmtQual'])
onehot_cols = X_cat.columns.get_indexer(['Foundation', 'BsmtFinType1'])


cat_exterqual = ['nan','Fa','TA', 'Gd', 'Ex'] 
cat_kitchenqual = ['nan','Fa','TA', 'Gd', 'Ex'] 
cat_bsmtqual = ['nan','Fa','TA', 'Gd', 'Ex'] #order #should be interpratation in order for uech column in ordinar encoding 


categorical_encoder = ColumnTransformer(
    transformers=[
        ('cat_ord_pipe', OrdinalEncoder(categories=[cat_exterqual, cat_kitchenqual, cat_bsmtqual]), ordinal_cols), #[cat_found_lvl, cat_garage].  #'['GarageQual_Level','Garage_qual']),
        ('cat_one_hote_pipe', OneHotEncoder(handle_unknown='ignore'), onehot_cols)  #, sparse_output=False
    ]
)
#("name_branch", ordinalEncoder(catgories=[orders]), list_columns)  #the syntax
  
    
categorical_pipe = make_pipeline(SimpleImputer(strategy="constant", fill_value="nan"),  #or 'N_A' but you have to include this in ordinals encoding 
                                 categorical_encoder
                             )



full_preprocessing_c = ColumnTransformer(
    transformers=[
        ("num_pipe", numeric_pipe, X_num.columns),
        ("cat_pipe", categorical_pipe, X_cat.columns)
    ]
)

# Decision Tree Regression

In [399]:
from sklearn.model_selection import GridSearchCV

dt_pipeline = make_pipeline(full_preprocessing_c,
                            DecisionTreeRegressor())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean", "median"],
    "decisiontreeregressor__criterion" : ['absolute_error'], #['squared_error', 'friedman_mse', 'absolute_error', 'poisson'], #['poisson'],  
    "decisiontreeregressor__splitter" : ['random'],  #['best', 'random'],
    "decisiontreeregressor__max_depth": range(8, 14, 2),
    "decisiontreeregressor__min_samples_leaf": range(5, 9, 2),
    "decisiontreeregressor__min_samples_split":range(5, 7, 2), 
    "decisiontreeregressor__min_impurity_decrease" :[0.01]
}

search_dtr_kb = GridSearchCV(dt_pipeline,
                      param_grid,
                      cv=5,
                      verbose=1)

search_dtr_kb.fit(X_train, y_train)

scores = {"DecisionTreeRegressor" : search_dtr_kb.best_score_}
scores

Fitting 5 folds for each of 144 candidates, totalling 720 fits

{'DecisionTreeRegressor': 0.7625969068240716}

In [401]:
search_dtr_kb.best_params_

{'columntransformer__num_pipe__simpleimputer__strategy': 'mean',
 'decisiontreeregressor__criterion': 'absolute_error',
 'decisiontreeregressor__max_depth': 10,
 'decisiontreeregressor__min_impurity_decrease': 0.01,
 'decisiontreeregressor__min_samples_leaf': 5,
 'decisiontreeregressor__min_samples_split': 5,
 'decisiontreeregressor__splitter': 'random'}

In [403]:
dtr_kb_pred = search_dtr_kb.predict(X_test)

In [405]:
dtr_kb = r2_score(y_true = y_test,
                y_pred = dtr_kb_pred)
dtr_kb

0.7954436950948323

In [408]:
comparing_models_df.loc['dtr_kb'] = dtr_kb
comparing_models_df

                R2
pca_r2    0.640000
pca_2_r2  0.753030
dt_1_r2   0.569284
dt_2_r2   0.753030
dtr_kb    0.795444

In [406]:

kb_model_pipeline1 = make_pipeline(full_preprocessing_c,
                               StandardScaler(),
                               #PCA(n_components=40),
                               DecisionTreeRegressor(criterion='absolute_error',
                                                    max_depth = 10 ,
                                                    min_impurity_decrease = 0.01,
                                                    min_samples_leaf = 5 , 
                                                    min_samples_split = 5, 
                                                    splitter = 'random'))

kb_model_pipeline1.fit(X_train, y_train)

best_score_dtr_kb = kb_model_pipeline1.score(X_train, y_train)

print(f"{round(best_score_dtr_kb * 100, 2)}% accuracy")

82.17% accuracy

# KNN

In [420]:
dt_pipeline = make_pipeline(full_preprocessing_c,
                            KNeighborsRegressor())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean", "median"],
    'kneighborsregressor__n_neighbors':[1,7, 2], 
    'kneighborsregressor__weights':['uniform', 'distance'], 
    #'kneighborsregressor__leaf_size':[10]
    #'kneighborsregressor__algorithm':['auto', 'ball_tree', 'kd_tree', 'brute']
}

search_knn_c = GridSearchCV(dt_pipeline,
                      param_grid,
                      cv=5,
                      verbose=1)

search_knn_c.fit(X_train, y_train)

scores = {"KNeighborsRegressor" : search_knn_c.best_score_}
scores

Fitting 5 folds for each of 12 candidates, totalling 60 fits

{'KNeighborsRegressor': 0.6857336161976895}

# LinearRegression

In [421]:
from sklearn.linear_model import LinearRegression

In [427]:
dt_pipeline = make_pipeline(full_preprocessing_c,
                            LinearRegression())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean", "median"],
    #'LinearRegression__n_jobs':[0, 1]
    #'LinearRegression__min_samples_leaf": range(3, 12, 2)
}

search_dtr_c_LR = GridSearchCV(dt_pipeline,
                      param_grid,
                      cv=5,
                      verbose=1)

search_dtr_c_LR.fit(X_train, y_train)

scores = {"LinearRegression" : search_dtr_c_LR.best_score_}
scores

Fitting 5 folds for each of 2 candidates, totalling 10 fits

{'LinearRegression': 0.7554617128320424}

In [429]:
LR_c_predictions = search_dtr_c_LR.predict(X_test)

In [430]:
LR_pred = r2_score(y_true = y_test,
                    y_pred = LR_c_predictions)
LR_pred

0.826900673683878

In [431]:
LR_pred_c = pd.DataFrame((search_dtr_c_LR.predict(test_data)), columns = ['SalePrice'])
LR_pred_c

      SalePrice
0      103360.0
1      166336.0
2      167296.0
3      177088.0
4      227968.0
...         ...
1454    62912.0
1455    88384.0
1456   147648.0
1457   116480.0
1458   222400.0

[1459 rows x 1 columns]

In [432]:
lrlr = pd.concat([y_kaggle, LR_pred_c], axis = 1)
lrlr

        Id  SalePrice
0     1461   103360.0
1     1462   166336.0
2     1463   167296.0
3     1464   177088.0
4     1465   227968.0
...    ...        ...
1454  2915    62912.0
1455  2916    88384.0
1456  2917   147648.0
1457  2918   116480.0
1458  2919   222400.0

[1459 rows x 2 columns]

In [434]:
lrlr.to_csv('LR_pred_c.csv', index=False)

# Prediction for test_data from KAGGEL

In [409]:
dtr_kbest = pd.DataFrame((kb_model_pipeline1.predict(test_data)), columns = ['SalePrice'])
dtr_kbest

      SalePrice
0      113500.0
1      177000.0
2      157500.0
3      188000.0
4      184500.0
...         ...
1454    83500.0
1455    83500.0
1456   146500.0
1457   133100.0
1458   200000.0

[1459 rows x 1 columns]

In [417]:
prices_dtr_kbest = pd.concat([y_kaggle, dtr_kbest], axis = 1)
prices_dtr_kbest

        Id  SalePrice
0     1461   113500.0
1     1462   177000.0
2     1463   157500.0
3     1464   188000.0
4     1465   184500.0
...    ...        ...
1454  2915    83500.0
1455  2916    83500.0
1456  2917   146500.0
1457  2918   133100.0
1458  2919   200000.0

[1459 rows x 2 columns]

In [418]:
prices_dtr_kbest.to_csv('prices_dtr_kbest.csv', index=False)

# RandomForestRegressor

+ with K BEST data

In [443]:
from sklearn.datasets import make_regression
#from sklearn.multioutput import MultiOutputRegressor
#from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

In [610]:
dt_pipeline1 = make_pipeline(full_preprocessing_c,
                            RandomForestRegressor())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean", "median"],
    "randomforestregressor__n_estimators" : [25, 27, 29], 
    #"randomforestregressor__criterion" : ['poisson'],   #['squared_error', 'absolute_error', 'friedman_mse', 'poisson'], 
    #"randomforestregressor__max_depth" : [8, 10],
   # "randomforestregressor__min_samples_split" : range(4, 6, 1), 
    #"randomforestregressor__max_samples" : [0.6],
    #"randomforestregressor__max_features" : ['log2']
}

search_dtr_MOR = GridSearchCV(dt_pipeline1,
                      param_grid,
                      cv=5,
                      verbose=1)

search_dtr_MOR.fit(X_train, y_train)

scores = {"RandomForestRegressor" : search_dtr_MOR.best_score_}
scores

Fitting 5 folds for each of 6 candidates, totalling 30 fits

{'RandomForestRegressor': 0.8054174782888672}

In [618]:
search_dtr_MOR.best_params_
#0.8241

{'columntransformer__num_pipe__simpleimputer__strategy': 'mean',
 'randomforestregressor__n_estimators': 25}

In [612]:
MOR_predictions = search_dtr_MOR.predict(X_test)

In [613]:
MOR_pred = r2_score(y_true = y_test,
                    y_pred = MOR_predictions)
MOR_pred

0.8735336794394573

In [614]:
test_predict = search_dtr_MOR.predict(test_data)

In [615]:
ranforreg = pd.DataFrame((search_dtr_MOR.predict(test_data)), columns = ['SalePrice'])
ranforreg

      SalePrice
0     112415.32
1     149760.00
2     181065.60
3     183676.00
4     205589.40
...         ...
1454   78840.00
1455   82452.00
1456  121291.00
1457  122098.00
1458  219503.60

[1459 rows x 1 columns]

In [616]:
prices_RFR = pd.concat([y_kaggle, ranforreg], axis = 1)
prices_RFR

        Id  SalePrice
0     1461  112415.32
1     1462  149760.00
2     1463  181065.60
3     1464  183676.00
4     1465  205589.40
...    ...        ...
1454  2915   78840.00
1455  2916   82452.00
1456  2917  121291.00
1457  2918  122098.00
1458  2919  219503.60

[1459 rows x 2 columns]

In [617]:
prices_RFR.to_csv('www5.csv', index=False)

In [ ]:
#0.154 of error on KAGGLE

+ with inly data num and one-hot

In [602]:
dt_pipeline5 = make_pipeline(full_preprocessing,
                            RandomForestRegressor())

param_grid = {
    "columntransformer__num_pipe__simpleimputer__strategy":["mean", "median"],
    "randomforestregressor__n_estimators" : range(20, 25, 5), 
    #"randomforestregressor__criterion" : ['poisson'], #['squared_error', 'absolute_error', 'friedman_mse', 'poisson'],   #['poisson'],
    #"randomforestregressor__max_depth" : range(9, 15, 2)
}

search_dtr_MOR5 = GridSearchCV(dt_pipeline5,
                      param_grid,
                      cv=5,
                      verbose=1)

search_dtr_MOR5.fit(X_train, y_train)

scores = {"RandomForestRegressor" : search_dtr_MOR5.best_score_}
scores

Fitting 5 folds for each of 2 candidates, totalling 10 fits

{'RandomForestRegressor': 0.8284756866702262}

In [603]:
search_dtr_MOR5.best_params_

{'columntransformer__num_pipe__simpleimputer__strategy': 'mean',
 'randomforestregressor__n_estimators': 20}

In [604]:
MOR_predictions5 = search_dtr_MOR5.predict(X_test)

In [605]:
MOR_pred5 = r2_score(y_true = y_test,
                    y_pred = MOR_predictions5)
MOR_pred5

0.8641869603242933

In [606]:
test_predict5 = search_dtr_MOR5.predict(test_data)

In [607]:
ranforreg5 = pd.DataFrame((search_dtr_MOR5.predict(test_data)), columns = ['SalePrice'])
ranforreg5

      SalePrice
0      125710.0
1      168295.0
2      183670.0
3      185450.0
4      204604.5
...         ...
1454    85290.0
1455    82140.0
1456   162065.0
1457   109002.5
1458   240818.4

[1459 rows x 1 columns]

In [608]:
ranforreg51 = pd.concat([y, ranforreg5], axis = 1)
ranforreg51

        Id  SalePrice
0     1461   125710.0
1     1462   168295.0
2     1463   183670.0
3     1464   185450.0
4     1465   204604.5
...    ...        ...
1454  2915    85290.0
1455  2916    82140.0
1456  2917   162065.0
1457  2918   109002.5
1458  2919   240818.4

[1459 rows x 2 columns]

In [609]:
ranforreg51.to_csv('ranforreg52.csv', index=False)

In [ ]:
#0.155 of error on KAGGLE

In [412]:
url = "https://drive.google.com/file/d/1o4ivk9gp0YR9gPsAOj-Z7XRSaT_CkfmY/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
test_data = pd.read_csv(path)
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [416]:
y_kaggle = pd.DataFrame(test_data['Id']).copy()
y_kaggle

        Id
0     1461
1     1462
2     1463
3     1464
4     1465
...    ...
1454  2915
1455  2916
1456  2917
1457  2918
1458  2919

[1459 rows x 1 columns]

In [414]:
test_data

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal